@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Head {
    <link href="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.css" rel="stylesheet">
}

<h2>Upload something here</h2>

<div id="drag-drop-area"></div>

<div id="progress-bar-area"></div>

<button id="upload-button">Upload</button>

@section Scripts
{
    <script src="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.js"></script>
    @*<script async src="~/lib/tus-js-client/dist/tus.min.js"></script>*@

    <script>
        const setFilesMetaData = (files) => {

            let keys = Object.keys(files);

            keys.forEach((key) => {
                let file = files[key];
                file.meta["convert-to"] = "pdf";
            });

            console.log(files);
        };

        var uppy = Uppy.Core(
            {
                debug: true,
                autoProceed: true,
                onBeforeUpload: setFilesMetaData,
                restrictions: {
                    maxFileSize: 300000,
                    maxNumberOfFiles: 5,
                    minNumberOfFiles: 2,
                    allowedFileTypes: [
                        'application/pdf', // .pdf
                        'application/msword', // .doc
                        'application/vnd.openxmlformats-officedocument.wordprocessingml.document', // .docx
                        'application/vnd.ms-excel', // .xls
                        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', // .xlsx
                        'application/vnd.ms-powerpoint', // .ppt
                        'application/vnd.openxmlformats-officedocument.presentationml.presentation', // pptx
                        'application/vnd.oasis.opendocument.text', // .odt
                        'application/vnd.oasis.opendocument.spreadsheet', // .ods
                        'application/vnd.oasis.opendocument.presentation' // .odp
                    ]
                },
            });
        uppy.use(Uppy.DragDrop, { target: '#drag-drop-area' });
        uppy.use(Uppy.Tus, { endpoint: '/files/' });
        uppy.use(Uppy.ProgressBar, { target: '#progress-bar-area', hideAfterFinish: false });

    </script>

}
